
   
   /* GENERAL */
@font-face {
    font-family: "Dhanikans Signature 2_dafont";
    src: url('../Dhanikans Signature 2_dafont.ttf');
}
    /* GENERAL END*/



body{
    margin-top: 164px;
    font-family: 'Roboto';
    background: url("../images/testefond2.png") center fixed;
    background-size: cover;
}

  
    /* HEADER */

nav{
    background-color: #000000;
    height: 100px;
}

.navbar-brand h1{
    font-family: 'Dhanikans Signature 2_dafont';
   
    color: white;
    text-shadow: 2px 4px 6px wheat;

}

h1{
    font-size: 3em;
}
@media screen and (max-width : 475px){
     h1{
        font-size: 2em;
    }
}

.nav-link {
    font-family: sans-serif;
    font-size: 1.5vw !important;
}

    /* HEADER END*/

    /* CAROUSEL*/

.carousel{
    border: solid 10px white;
    box-shadow: 3px 5px 10px;
}




    /* CAROUSEL END*/




    /* ACCUEIL ARTICLES */


.ajout{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
    text-decoration: underline;
}

.ligneArticle{
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}


.card{
    box-shadow: 3px 5px 10px;
}


/* FOOTER */

footer{
    background-color: #000000;
}
