.divMap {
	background-color: white;
	height: 100%;
}

.map-m , .map-s {
	display:none;
}

.image {
	display:block;
	width: 1200px;
	margin-left: 100px;
}

@media screen and (max-width: 1200px){
	.image {
		width: 800px;
		margin-left: 70px;
	}
	.map-l , .map-s {
		display: none;		
	}
	.map-m {
		display: block;
	}
}

@media screen and (max-width: 800px){
	.image {
		width: 600px;
		margin-left: 30px;
	}
	.map-m , .map-l {
		display: none;		
	}
	.map-s {
		display: block;
	}



